.footer{
    border:2px solid #ccc;
    background: rgba(230,216,214,1);
background: -moz-linear-gradient(left, rgba(230,216,214,1) 0%, rgba(179,90,79,1) 0%, rgba(201,161,157,1) 26%, rgba(201,161,157,1) 74%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,216,214,1)), color-stop(0%, rgba(179,90,79,1)), color-stop(26%, rgba(201,161,157,1)), color-stop(74%, rgba(201,161,157,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(left, rgba(230,216,214,1) 0%, rgba(179,90,79,1) 0%, rgba(201,161,157,1) 26%, rgba(201,161,157,1) 74%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(left, rgba(230,216,214,1) 0%, rgba(179,90,79,1) 0%, rgba(201,161,157,1) 26%, rgba(201,161,157,1) 74%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(left, rgba(230,216,214,1) 0%, rgba(179,90,79,1) 0%, rgba(201,161,157,1) 26%, rgba(201,161,157,1) 74%, rgba(231,56,39,1) 100%);
background: linear-gradient(to right, rgba(230,216,214,1) 0%, rgba(179,90,79,1) 0%, rgba(201,161,157,1) 26%, rgba(201,161,157,1) 74%, rgba(231,56,39,1) 100%);
}