
<div class="container footer">
  <div class="pt-2 text-center">
    <span>Connect with us:</span>
    <a class="mr-2" href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
    <a class="mr-2" href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    <a class="mr-2" href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
  </div>
  <p class="text-center small pt-2"><i class="fa fa-copyright" aria-hidden="true"></i> {{footerTxt}}</p>
</div>